.nav-menu {
  max-width: max-content;

  font-family: "body-text";
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: black;
  font-weight: bold;
}

.nav-menu a.active {
  color: var(--yellow);
  -webkit-text-stroke: 2px black; /* width and color */
  paint-order: stroke fill;
}
