.nav-menu {
  max-width: max-content;

  font-family: "body-text";
  font-size: 1.25rem;
  display: flex;
  gap: 20px;
}

.nav-menu a {
  color: black;
  font-weight: bold;
  font-size: 1.25rem;
}

.nav-menu a.active {
  color: var(--yellow);
  -webkit-text-stroke: 2px black; /* width and color */
  paint-order: stroke fill;
}

.nav-menu a.hover {
  transition: 0.2s;
  opacity: 100%;
}

.nav-menu a.inactive {
  opacity: 50%;
  transition: 0.2s;
}

@media (max-width: 937px) {
  header > .nav-menu {
    display: none;
  }
}
