header {
  z-index: 2;
  background: var(--light-blue);
  padding: 0px 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  max-height: 85px;
  max-width: max-content;

  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  height: 85px;
}

.band-name {
  font-size: 36px;
  font-family: "heading-text", sans-serif;
  letter-spacing: -0.5px;
  color: black;
}

@media (max-width: 937px) {
  .logo-wrapper,
  .logo {
    height: 65px;
  }
}

@media (max-width: 550px) {
  .band-name {
    display: none;
  }
}
