@font-face {
  font-family: 'heading-text';
  src: url(../public/fonts/ChauPhilomeneOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'body-text';
  src: url(../public/fonts/SourGummy-VariableFont_wdth\,wght.ttf) format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

#root{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.heading-text {
  font-family: 'heading-text';
  font-size: 36px;
  margin: auto;
  width: max-content;
}

.body-text{
  font-family: 'body-text';
  font-size: 16px;
  padding: 28px 240px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
