@font-face {
  font-family: 'heading-text';
  src: url(/fonts/ChauPhilomeneOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'body-text';
  src: url(/fonts/SourGummy-VariableFont_wdth\,wght.ttf) format('truetype');
}

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --light-blue: #CAF4FA;
  --gradient-top: #B1E6F4;
  --gradient-bottom: #5AC4F2;
  --dark-blue: #3066BE;
  --darker-blue: #17285F;
  --darkest-blue: #070124;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000000;
  background: linear-gradient(180deg, var(--gradient-top) 0%, var(--gradient-bottom) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.heading-text {
  font-family: 'heading-text';
  font-size: 36px;
  margin: auto;
  width: max-content;
}

.body-text{
  font-family: 'body-text';
  font-size: 16px;
  padding: 28px 240px;
}


