@font-face {
  font-family: "heading-text";
  src: url(./assets/fonts/ChauPhilomeneOne-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "body-text";
  src: url(./assets/fonts/SourGummy-VariableFont.ttf) format("truetype");
}

@font-face {
  font-family: "heading-text-italic";
  src: url(./assets/fonts/ChauPhilomeneOne-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "body-text-italic";
  src: url(./assets/fonts/SourGummy-Italic-VariableFont.ttf) format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}

:root {
  /* Color Palette*/
  --off-white: #faf9f6;
  --light-blue: #caf4fa;
  --gradient-top: #b1e6f4;
  --gradient-bottom: #5ac4f2;
  --dark-blue: #3066be;
  --darker-blue: #17285f;
  --darkest-blue: #070124;
  --gray: #383838;
  --yellow: #ffff40;
  --orange: #fc7a31;

  /* Shadows */
  --shadow-elevation-low: 0px 0px 0px rgba(3, 7, 18, 0.02),
    1px 1px 1px rgba(3, 7, 18, 0.04), 1px 1px 1px rgba(3, 7, 18, 0.06),
    3px 3px 3px rgba(3, 7, 18, 0.08), 4px 4px 4px rgba(3, 7, 18, 0.1);

  --shadow-elevation-medium: 0px 0px 0px rgba(3, 7, 18, 0.02),
    1px 1px 1px rgba(3, 7, 18, 0.04), 3px 3px 3px rgba(3, 7, 18, 0.06),
    5px 5px 5px rgba(3, 7, 18, 0.08), 8px 8px 8px rgba(3, 7, 18, 0.1);

  --shadow-elevation-hover: 0px 0px 0px rgba(3, 7, 18, 0.02),
    2px 2px 1px rgba(3, 7, 18, 0.04), 4px 4px 3px rgba(3, 7, 18, 0.06),
    6px 6px 5px rgba(3, 7, 18, 0.08), 10px 10px 8px rgba(3, 7, 18, 0.1);

  --shadow-elevation-high: 1px 1px 0px rgba(3, 7, 18, 0.02),
    3px 3px 1px rgba(3, 7, 18, 0.04), 6px 6px 3px rgba(3, 7, 18, 0.06),
    10px 10px 5px rgba(3, 7, 18, 0.08), 16px 16px 8px rgba(3, 7, 18, 0.1);

  --shadow-elevation-highest: 3px 3px 3px rgba(3, 7, 18, 0.04),
    13px 13px 13px rgba(3, 7, 18, 0.08), 29px 29px 29px rgba(3, 7, 18, 0.12),
    51px 51px 51px rgba(3, 7, 18, 0.16), 80px 80px 80px rgba(3, 7, 18, 0.2);

  /* font grows 1px for every 100px of viewport width */
  font-size: 16px;
  /* leading grows along with font,
   with an additional 0.1em + 0.5px per 100px of the viewport */
  line-height: 1.5;

  font-weight: 400;

  color-scheme: light dark;
  color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Style classes */

.shadow-elevation-low {
  box-shadow: var(--shadow-elevation-low);
}
.shadow-elevation-medium {
  box-shadow: var(--shadow-elevation-medium);
}
.shadow-elevation-hover {
  box-shadow: var(--shadow-elevation-hover);
}
.shadow-elevation-high {
  box-shadow: var(--shadow-elevation-high);
}
.shadow-elevation-highest {
  box-shadow: var(--shadow-elevation-highest);
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 75px;
}

.heading-text {
  font-family: "heading-text", Verdana, sans-serif;
  font-size: 36px;
  margin: auto;
  width: max-content;
}

.body-text {
  font-family: "body-text", Roboto, sans-serif;
  font-size: 16px;
  padding: 28px 240px;
}

.page-header {
  margin: auto;
  width: max-content;
}

h1,
h2,
h3,
h4 {
  font-family: "heading-text", Verdana, sans-serif;
  height: max-content;
  letter-spacing: -0.5px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

.large-text {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

.small-text {
  font-size: 0.875rem;
}

.smallest-text {
  font-size: 0.75rem;
}

main {
  background: linear-gradient(
    180deg,
    var(--gradient-top) 0%,
    var(--gradient-bottom) 100%
  );
}

footer {
  background: linear-gradient(180deg, #17285f 0%, #070124 100%);
}

@media (max-width: 937px) {
  #root {
    grid-template-rows: 75px 1fr 50px;
  }
}

@media (max-width: 550px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }
  .large-text {
    font-size: 1.175rem;
  }
}
