.button-primary,
.button-secondary,
.button-tertiary {
  font-family: "body-text";
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 12px;
  text-align: center;
  transition: transform 250ms, box-shadow 250ms;
}

.button-primary,
.button-secondary {
  color: black;
}

.button-primary {
  background-color: var(--yellow);
}

.button-secondary {
  background-color: var(--orange);
}

.button-tertiary {
  background-color: var(--gray);
  color: var(--off-white);
}

.button-primary:hover,
.button-secondary:hover,
.button-tertiary:hover {
  transform: scale(1.1);
  box-shadow: var(--shadow-elevation-hover);
}
