.button-primary,
.button-secondary,
.button-tertiary {
  font-family: "body-text";
  font-size: 16px;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px 12px;
}

.button-primary,
.button-secondary {
  color: black;
}

.button-primary {
  background-color: var(--yellow);
}

.button-secondary {
  background-color: var(--orange);
}

.button-tertiary {
  background-color: var(--gray);
  color: var(--off-white);
}
