.about-container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: center;
  margin: 40px 0px 100px 0px;
}

.content-sections {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.pic-and-paragraph {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.pic-and-paragraph p {
  width: 550px;
  text-align: left;
  font-family: "body-text";
}

.pic-and-paragraph img {
  width: 600px;
  height: 300px;
  border-radius: 8px;
}

.pic-and-paragraph .band-members {
  text-align: center;
}

.pic-and-paragraph .booking-text {
  text-align: center;
}

@media (max-width: 937px) {
  .about-container {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    margin: 40px 0px;
  }
  .content-sections {
    gap: 40px;
  }
  .pic-and-paragraph {
    gap: 20px;
  }
  .pic-and-paragraph img {
    aspect-ratio: 2/1;
    width: 85%;
    height: auto;
  }

  .pic-and-paragraph p,
  .pic-and-paragraph ul {
    width: 75%;
  }
}
