.upcoming-shows-header {
  text-align: center;
  padding: 8px;
}

.shows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* gap: 12px; */
}

.line-break {
  color: black;
  width: 80%;
}

.first-item {
  border-top: 1px solid black;
}

.active {
  background-color: white;
}

.inactive {
  background-color: black;
}
