.upcoming-shows-header {
  text-align: center;
  padding-bottom: 28px;
}

.shows-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
