.release-item-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.release-item-container:hover {
  cursor: pointer;
}

.release-cover-art {
  width: 100%;
  border-radius: 8px;
}

.release-name {
  font-family: "body-text";
}
