.shows-page-container {
  padding: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.shows-page-container .upcoming-shows-header {
  font-size: 3rem;
}

.shows-page-container img.poker {
  aspect-ratio: 1.8254/1;
  width: 481.5px;
  height: auto;
  object-fit: cover;
}

@media (max-width: 550px) {
  .shows-page-container .upcoming-shows-header {
    font-size: 2rem;
  }
  .shows-page-container img.poker {
    width: 90%;
  }
}
